<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <title><%= raml.title %></title>
  </head>
  <body>
    <div class="container-fluid">
      <h1>
        <%= raml.title %>
        <small>Version <%= raml.version %></small>
      </h1>

      <%= render_partial "resource", collection: raml.resources %>
    </div>

    <footer class="footer">
      <div class="container-fluid">
        <hr>
        <p class="pull-right text-muted">
          Created with
          <a href="http://raml.org/">RAML&#8482;</a>
          /
          <a href="https://github.com/hopsoft/raml_doc">RAML Doc</a>
        </p>
      </div>
    </footer>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <style type="text/css" rel="stylesheet">
      h2 { margin-top: 40px; }
      h3 { margin-top: 20px; margin-bottom: 20px; }
      pre { white-space: pre-wrap; word-wrap: break-word; }
      a.btn { color: #fff; }
      .panel-heading h2 { margin: 0; }
    </style>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/ff1f204224.js"></script>
    <script type="text/javascript">
    $(function () { $('[data-toggle=tooltip]').tooltip(); });
    </script>
  </body>
</html>
